@import './declaration.scss';

.about-me {
  @include frame(relative, 330px, 190px);
  top: 22px;
  background: white;
  box-shadow: 5px 5px 5px 5px rgb(38, 39, 39);
  border-radius: 10px;
}

.about-me-text-block {
  @include frame(absolute, 320px, 140px);
  margin-top: 20px;
  margin-left: 10px;
}

.about-me-text {
  @include font(14px, 400);
  margin: 0px;
  margin-right: 10px;
  margin-top: 5px;
  text-align: justify;
}
