/* @mixin grid($width, $height, $left, $top, $color) {
  position: absolute;
  width: $width;
  height: $height;
  left: $left;
  top: $top;
  background: $color;
}

@mixin area($area, $start, $end, $color) {
  grid-area: $area;
  grid-row-start: $start;
  grid-row-end: $end;
  background: $color;
}
 */

@mixin font($size, $weight) {
  font-family: 'Times New Roman', Times, serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin frame($position, $width, $height) {
  position: $position;
  width: $width;
  height: $height;
}
