@mixin font($size, $weight) {
  font-family: 'Times New Roman', Times, serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin frame($position, $width, $height) {
  position: $position;
  width: $width;
  height: $height;
}
