@import './declaration.scss';

.avatar {
  @include frame(relative, 224px, 223px);

  margin: auto;
  margin-top: 23px;
}

.name-text {
  @include font(24px, bold);
  @include frame(absolute, 224px, 23px);

  top: 145px;
}

.avatar-image {
  position: absolute;
  align-items: center;
  left: 57px;
  border-radius: 50%;
}

.avatar-img {
  margin-bottom: 21px;
}

.social-icons {
  position: absolute;
  top: 189px;
  left: 71px;
}

.icons {
  margin-right: 24px;
}
