@import './declaration.scss';

.avatar {
  @include frame(relative, 224px, 225px);

  margin: auto;
  margin-top: 23px;
  box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background: rgb(199, 192, 192, 0.5);
}

.name-text {
  @include font(24px, bold);
  @include frame(absolute, 224px, 23px);

  top: 145px;
}

.avatar-image {
  position: absolute;
  align-items: center;
  left: 57px;
  border-radius: 50%;
}

.avatar-img {
  margin-bottom: 21px;
}

.social-icons {
  position: absolute;
  width: 82px;
  height: 34px;
  top: 189px;
  left: 71px;
}

.icons {
  margin-right: 24px;
}

.icons:last-child {
  margin-right: 0px;
}
