@import './declaration.scss';

.skill {
  @include frame(relative, 260px, 216px);
  top: 46px;
  left: 5px;

  background: rgba(196, 196, 196, 0.35);
  box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.title {
  @include font(18px, bold);
  position: absolute;
  width: 143px;
  height: 17px;
  top: 8px;
  left: 12px;
}

.skill-list {
  position: absolute;
  top: 35px;
  left: 12px;
}

.skill-name {
  @include font(18px, 200);

  width: 244px;
  height: 18px;
  color: white;
  margin-bottom: 9px;
}

.skill-name:last-child {
  margin-bottom: 0px;
}

.main-block {
  float: right;
  margin-top: 7px;
  padding: 0px;
  width: 120px;
  height: 9px;
  background: black;
  border-radius: 5px;
}

.second-block {
  background: #c4c4c4;
  height: 9px;
  border-radius: 5px;
  animation: transitionIn 1s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
